@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin_cyrillic-300.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.ttf') format('truetype'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Helvetica", "Arial", sans-serif;
}

a {
  text-decoration: none
}

img {
  max-width: 100%
}

.visibility-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px
}

.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.page-header-row {
  display: flex;
  justify-content: space-between;
}

.base-navigation {
  display: flex;
}

.main-menu {
  width: 100%;
}

.main-menu__list {
   display: flex;
   justify-content: space-between;
}

.main-menu__list > li:nth-child(2) {
  margin-left: auto;
  margin-right: 34px;
}

.main-menu__list > li:last-child {
  margin-left: 104px;
}

.base-navigation {
  width: 500px;
}

.base-navigation li:first-child {
  margin-right: auto;
}

.base-navigation li:nth-child(2) {
}

.base-navigation a {
  padding-left: 20px;
}

.page-header {
  margin-top: 40px;
}

.page-header-wrapper {
  background-color: #f7e296;
  padding: 0 60px;
  box-sizing: border-box;
}

.page-header .logo {
  position: relative;
  top: -19px;
}

.search input {
  background-color: transparent;
  border: none;
}

.search input[type="search"] {
   opacity: 0.3;
 }

.search input[type="search"]:hover {
  opacity: 0.6;
}

.search input[type="search"]:focus {
  opacity: 1;
}

.page-header ul,
.home-carousel ul,
.categories ul,
.features ul,
.breadcrumbs,
.campaign-logos ul,
.category ul,
.footer ul,
.social-networks,
.shop-info__pagination {
  list-style: none;
  padding: 0;
}

.shop-info ul {
  list-style: none;
}

.base-navigation a,
.main-menu__list-link,
.main-menu__sublist-link {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.category-sorting a,
.product-card__info a {
  text-decoration: none;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.logo:hover,
.base-navigation a:hover,
.main-menu__list-link:hover,
.main-menu__sublist-link:hover,
.category-sorting a:hover {
  color: rgba(0, 0, 0, .6);
}

.logo:active,
.base-navigation a:active,
.main-menu__list-link:active,
.main-menu__sublist-link:active,
.category-sorting a,
.breadcrumbs a {
  color: rgba(0, 0, 0, .3);
}

.main-menu__sublist a {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.main-menu__list-link,
.footer-main-menu__list-link {
  font: 800 18px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font: 800 18px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  border: none;
  background-color: transparent;
}

.home-carousel h2 {
  font: 800 47px/1.19 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.tech-specs th {
  font: 300 36px/48px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.36px;
}

.tech-specs td {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.category-wrapper {
  display: flex;
}

.category-item figcaption {
  font: 800 18px/24px "Gilroy", "Helvetica", "Arial", sans-serif;
  color: #000;
}

.features-list li {
  font: 800 18px/24px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.features-contents h3 {
  font: 800 47px/1.02 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
  color: #000000;
}

.shop-info-wrapper {
  display: flex;
  justify-content: space-between;
}

.shop-info {
  position: relative;
  width: 560px;
}

.shop-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #000;
}

.shop-info h3 {
  font: 800 47px/1.02 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.shop-info li {
  font: 800 16px/2.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
  position: relative;
}

.shop-info li::before {
  position: absolute;
  left: -18px;
  top: 50%;
  transform: translateY(-50%);
  content: '';
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.page-title {
  font: 800 47px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.breadcrumbs a {
  text-decoration: none;
}

.category-filter {
  width: 328px;
}

.category__inner {
  width: 760px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.category-sorting h2,
.category-filter h2,
.category-pagination a {
  font: 800 16px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  color: #000;
}

.product-card__title {
  font: 800 16px/1.33 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.18px;
  color: #000;
}

.button--add-to-comparison {
  font: 300 13px/2.77 "Open Sans", "Helvetica", "Arial", sans-serif;
  text-transform: inherit;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.button--add-to-comparison::before {
  content: none;
}

.product-card__price {
  font: 300 16px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.16px;
  color: #464646;
}

.category-filter__title {
  font: 800 18px/1.33  "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.base-form__label {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.14px;
  line-height: 40px;
}

.category-sorting .current,
.category-sorting a:active {
  color: rgba(0, 0, 0, 1);
}

.footer {
  background-color: #464646;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.base-menu__list {
  display: flex;
}

.base-menu__list a {
  padding-left: 20px;
}

.footer a,
.footer .official-address {
  text-decoration: none;
}

.base-menu__item-link,
.footer-phone:hover {
  color: rgba(255, 255, 255, .7);
}

.footer-phone,
.base-menu__item-link:hover,
.official-address {
  color: rgba(255, 255, 255, 1);
}

.footer-phone:active,
.base-menu__item-link:active {
  color: rgba(255, 255, 255, .3);
}

.footer .logo,
.footer .footer-main-menu__list-link {
  color: rgba(255, 255, 255, 1);
}

.footer .logo:hover,
.footer .footer-main-menu__list-link:hover {
  color: rgba(255, 255, 255, .6);
}

.footer .logo:active,
.footer .footer-main-menu__list-link:active {
  color: rgba(255, 255, 255, .3);
}

.footer .footer-main-menu__list {
  display: flex;
}

.footer-main-menu__list li {
  margin: 0 35px;
}

.official-address {
  font-style: normal;
}

.social-networks {
  display: flex;
}
.social-networks li {
  margin: 0 11px;
}

.social-networks a {
  opacity: .3;
}

.social-networks a:hover {
  opacity: .6;
}

.social-networks a:active {
  opacity: .1;
}

.modal {
  display: none;
}
