@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/open-sans-v17-latin_cyrillic-300.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.eot?#iefix') format('embedded-opentype'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.ttf') format('truetype'),
  url('../fonts/open-sans-v17-latin_cyrillic-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
  url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-Light.woff') format('woff'),
  url('../fonts/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.eot');
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'),
  url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
  url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font: 300 15px/2 "Open Sans", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.15px;
}

.base-menu,
.main-menu-list,
.page-header ul,
.home-slider-list,
.home-carousel ul,
.home-slider-pagination,
.popular-categories ul,
.features ul,
.shop-info li,
.breadcrumbs,
.campaign-logos ul,
.category ul,
.footer ul,
.social-networks,
.shop-info__pagination,
.feedback-form ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

img {
  max-width: 100%
}

.visibility-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  font: 800 18px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 3.7px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000;
  border: none;
  background-color: transparent;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.icon {
  position: relative;
}

.icon::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.icon--user {
  padding-left: 26px;
}

.icon--user::before {
  background-image: url(../img/icons/user.svg);
  width: 13px;
  height: 12px;
}

.icon--user.icon--user-footer::before {
  background-image: url(../img/icons/user-footer.svg);
}

.icon--compare {
  padding-left: 19px;
}

.icon--compare::before {
  background-image: url(../img/icons/compare.svg);
  width: 10px;
  height: 10px;
}

.icon--compare.icon--compare-footer::before {
  background-image: url(../img/icons/compare-footer.svg);
}

.icon--cart {
  padding-left: 22px;
}

.icon--cart::before {
  background-image: url(../img/icons/cart.svg);
  width: 12px;
  height: 12px;
}

.icon--cart.icon--cart-footer::before {
  background-image: url(../img/icons/cart-footer.svg);
}

.button::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #f0c62a;
  z-index: -1;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}

.button:hover::before {
  height: 100%;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 1160px;
  height: 10px;
  background-color: #f7e296;
}

.main-page .header::after {
  height: 125px;
}


.footer-logo,
.footer-main-menu-list li:hover,
.footer-phone,
.social-networks svg:hover {
  opacity: 1;
}

.header a:hover,
.footer-logo:hover,
.footer-base-menu-link:hover:before,
.footer-main-menu-list li,
.footer-phone:hover,
.social-networks svg,
.creator-logo:hover
{
  opacity: 0.7;
}

.header a:active,
.footer-logo:active,
.footer-main-menu-list li:active,
.footer-phone:active,
.social-networks svg:active,
.creator-logo:active {
  opacity: 0.3;
}

.header {
  max-width: 1040px;
  margin: 40px auto 0;
  background-color: #f7e296;
  padding: 30px 60px 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}

.header::after {
  position: absolute;
  top: 100%;
  width: 100%;
  right: 0;
  background-color: #f7e296;
}

.logo {
  position: absolute;
  top: -17px;
}

.header-row,
.base-menu,
.footer-base-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.header-row {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.search {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 440px;
  margin-right: 100px;
}

.search__query {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 10px;
  padding-right: 10px;
  padding-left: 38px;
  letter-spacing: 0.15px;
  background-color: transparent;
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;
  background-position: 3px 17px;
  border-style: none;
  outline: 0;
}

.search__query::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__query::-webkit-input-placeholder,
.search__query:-ms-input-placeholder,
.search__query::-ms-input-placeholder,
.search__query::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.search__query:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__query:hover::-webkit-input-placeholder,
.search__query:hover:-ms-input-placeholder,
.search__query:hover::-ms-input-placeholder,
.search__query:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search__query:focus::-webkit-input-placeholder, .search:active .search__query::-webkit-input-placeholder
{
  visibility: hidden;
}

.search__query:focus::-webkit-input-placeholder,
.search:active .search__query::-webkit-input-placeholder,
.search__query:focus:-ms-input-placeholder,
.search:active .search__query:-ms-input-placeholder,
.search__query:focus::-ms-input-placeholder,
.search:active .search__query::-ms-input-placeholder,
.search__query:focus::placeholder,
.search:active .search__query::placeholder
{
  visibility: hidden;
}

.search__submit {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px 17px 14px 18px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 2px solid #000000;
  outline: 0;
  visibility: hidden;
  -webkit-transition-duration: 1ms;
  -o-transition-duration: 1ms;
  transition-duration: 1ms;
  -webkit-transition-property: visibility;
  -o-transition-property: visibility;
  transition-property: visibility;
}

.search__submit:hover::before,
.search__submit:focus::before,
.search__submit:active::before,
.search__query:focus ~ .search__submit::before,
.search__query:valid ~ .search__submit::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 440px;
  border-bottom: 2px solid #000000;
}

.search__query:focus ~ .search__submit,
.search__query:valid ~ .search__submit {
  visibility: visible;
}

.search__submit:hover,
.search__submit:focus {
  color: #ffffff;

  background-color: #000000;
  visibility: visible;
}

.search__submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.base-menu {
  width: 500px;
}

.base-menu li:nth-child(2) {
  margin-left: auto;
}

.base-menu li:last-child {
  margin-left: 41px;
}

.footer-base-menu svg,
.base-menu svg {
  padding-right: 13px;
}

.main-menu {
  width: 100%;
}

.main-menu-list {
  margin-right: -5px;
  margin-bottom: 0;
  padding-bottom: 35px;
}

.main-menu-list,
.footer-main-menu-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.main-menu-sublist {
  display: none;
  position: absolute;
  top: 136px;
  left: 0;
  right: 0;
  list-style-type: none;
  padding: 25px 60px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 139px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f7e296;
  z-index: 2;
}

.main-menu-sublist li {
  margin-bottom: 6px;
  margin-right: 60px;
  letter-spacing: 0.15px;
}

.main-menu-sublist li:nth-last-child(-n+2) {
  margin-bottom: 30px;
}

.main-menu-list__item > a,
.footer-main-menu-list a {
  font: 800 18px/1.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-menu-list > li:first-child {
  margin-right: auto;
}

.main-menu-list > li:nth-last-child(-n+2) {
  margin-left: 35px;
}

.main-menu-list > li:last-child {
  margin-left: 109px;
}

.main-menu-list__item:hover .main-menu-sublist {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-menu-link-with-sublist {
  position: relative;
  padding-right: 27px;
}

.main-menu-link-with-sublist::before, .main-menu-link-with-sublist::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  width: 16px;
  height: 2px;
  background-color: #b9aa74;
}

.main-menu-link-with-sublist::after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
}

.home-slider {
  position: relative;
  z-index: 1;
  max-width: 1160px;
  margin: 0 auto;
}

.home-slider-list {
  margin: 15px 0 0;
}

.home-slider-list li {
  display: none;
}

.home-slider-item {

}

.home-slider-list img {
  position: relative;
}

.home-slider-list img[src*="1"] {
  left: 90px;
  width: 384px;
  height: 486px;
}
.home-slider-list img[src*="2"] {
  left: 116px;
  top: 11px;
}
.home-slider-list img[src*="3"] {
  left: 31px;
  top: 65px;
}


.home-slider-list li::before {
  content: attr(data-number);
  position: absolute;
  right: 46px;
  top: -15px;
  z-index: -1;
  font: 800 179.2px/1 "Gilroy", "Arial", sans-serif;
  color: #ffffff;
  letter-spacing: 1.792px;
}

.home-slider__promo-text {
  width: 560px;
  position: relative;
  padding: 78px 0 0 0;
}

.home-slider__promo-text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 35px;
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.home-slider__promo-text h2 {
  font: 800 47px/56px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.7px;
  margin: 0;
}

.home-slider__promo-text p {
  margin: 20px 0 0;
}

.home-slider__button {
  margin-top: 42px;
  width: 220px;
}

.home-slider__specs {
  margin-top: 49px;
  margin-left: -3px;
  border-spacing: 0;
  border-collapse: collapse;
}

.home-slider__specs th {
  font: 300 36px/48px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.36px;
}

.home-slider__specs td {
  padding-top: 6px;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
}

.home-slider__specs th:nth-child(n+1),
.home-slider__specs td:nth-child(n+1) {
  width: 160px;
}

.home-slider__specs th:nth-child(2n),
.home-slider__specs td:nth-child(2n) {
  width: 140px;
}

.home-slider-pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  right: 62px;
  top: 311px;
  z-index: 2;
}

.home-slider-pagination label {
  position: relative;
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 21px;
  cursor: pointer;
  background-image: url(../img/icons/slider-button-empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

[name="promo-slides"]:nth-of-type(1):checked ~ .home-slider-pagination label[for$="1"],
[name="promo-slides"]:nth-of-type(2):checked ~ .home-slider-pagination label[for$="2"],
[name="promo-slides"]:nth-of-type(3):checked ~ .home-slider-pagination label[for$="3"] {
  background-image: url(../img/icons/slider-button.svg);
}

[name="promo-slides"]:nth-of-type(1):checked ~ .home-slider-list .home-slider-item[data-number$="1"],
[name="promo-slides"]:nth-of-type(2):checked ~ .home-slider-list .home-slider-item[data-number$="2"],
[name="promo-slides"]:nth-of-type(3):checked ~ .home-slider-list .home-slider-item[data-number$="3"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.popular-categories {
  margin-top: 114px;
}

.popular-categories ul {
  max-width: 1160px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.popular-categories li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 160px;
  padding-top: 192px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
}

.popular-categories__item a {
  position: relative;
  font: 800 18px/24px "Gilroy", "Helvetica", "Arial", sans-serif;
  margin-top: 33px;
  letter-spacing: 0.18px;
}

.popular-categories__item a::before {
  content: "";
  position: absolute;
  top: -195px;
  left: 0;
  width: 160px;
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  -webkit-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  transition: ease 0.3s;
}

.popular-categories__item a:hover::before {
  background-color: rgba(240, 197, 46, 1);
}

.popular-categories__item a::after {
  content: "";
  background-repeat: no-repeat;
  position: absolute;
  top: -195px;
  left: 0;
  width: 160px;
  height: 160px;
  background-position: 31px 52px;
}

.popular-categories__item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-categories__item a:active::after {
  opacity: 0.3;
}

.popular-categories__item:nth-child(1) a::after {
  background-image: url(../img/popular/1.svg);
}

.popular-categories__item:nth-child(2) a::after {
  background-image: url(../img/popular/2.svg);
  background-position: 38px 43px;
}

.popular-categories__item:nth-child(3) a::after {
  background-image: url(../img/popular/3.svg);
  background-position: 49px 38px;
}

.popular-categories__item:nth-child(3) a::after {
  background-image: url(../img/popular/3.svg);
}

.popular-categories__item:nth-child(4) a::after {
  background-image: url(../img/popular/4.svg);
  background-position: 28px 50px;
}

.popular-categories__item:nth-child(5) a::after {
  background-image: url(../img/popular/5.svg);
  background-position: 55px 32px;
}

.popular-categories__item:nth-child(6) a::after {
  background-image: url(../img/popular/6.svg);
  background-position: 13px 49px;
}

.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background-color: #e5e5e5;
  margin-top: 180px;
  min-height: 288px;
}

.features-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.features-tabs {
  position: relative;
  top: -20px;
  z-index: 1;
  width: 278px;
  border-right: 7px solid #000000;
  margin: 0;
}

.features-tabs::before, .features-tabs::after {
  content: "";
  position: absolute;
  right: -7px;
  width: 7px;
  background-color: #000000;
}

.features-tabs::before {
  top: -80px;
  height: 80px;
}

.features-tabs::after {
  bottom: -47px;
  height: 47px;
}

.features-tabs li {
  position: relative;
  margin-bottom: 24px;
}

.features-tabs__button {
  width: 160px;
}

[name="features"]:nth-of-type(1):checked ~ .features-tabs .features-tabs__button[for$="1"],
[name="features"]:nth-of-type(2):checked ~ .features-tabs .features-tabs__button[for$="2"],
[name="features"]:nth-of-type(3):checked ~ .features-tabs .features-tabs__button[for$="3"] {
  position: static;
  color: #f7e184;
}

[name="features"]:nth-of-type(1):checked ~ .features-tabs .features-tabs__button[for$="1"]::after,
[name="features"]:nth-of-type(2):checked ~ .features-tabs .features-tabs__button[for$="2"]::after,
[name="features"]:nth-of-type(3):checked ~ .features-tabs .features-tabs__button[for$="3"]::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
  height: 40px;
  background-color: #000000;
  z-index: -1;
}

.features-content {
  position: relative;
  top: -27px;
  margin: 0 0 0 116px;
  width: 460px;
}


.features-content-item {
  display: none;
  position: relative;
}

.features-content-item::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
}

.features-content-item:nth-of-type(1)::after {
  top: -7px;
  right: -266px;
  background-image: url("../img/features/delivery.svg");
}

.features-content-item:nth-of-type(2)::after {
  top: -16px;
  right: -268px;
  background-image: url("../img/features/warranty.svg");
}

.features-content-item:nth-of-type(3)::after {
  top: -19px;
  right: -252px;
  background-image: url("../img/features/credit.svg");
}

.features-content-item h3 {
  font: 800 47px/48px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 1.1px;
  color: #000000;
  margin: 0 0 0;
}

.features-content-item p {
  margin-top: 30px;
  letter-spacing: 0.26px;
}

.services-radio:nth-of-type(1):checked ~ .features-content .features-content-item:nth-child(1),
.services-radio:nth-of-type(2):checked ~ .features-content .features-content-item:nth-child(2),
.services-radio:nth-of-type(3):checked ~ .features-content .features-content-item:nth-child(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.campaign-logos {
  margin-top: 94px;
}

.campaign-logos-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1160px;
  margin: 0 auto;
}

.campaign-logos-list li {
  position: relative;
}

.campaign-logos-list li::before {
  content: "";
  position: absolute;
  top: 0;
  z-index: 1;
  width: 260px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: ease-in-out .2s;
  -o-transition: ease-in-out .2s;
  transition: ease-in-out .2s;
}

.campaign-logos-list li:hover::before {
  opacity: 1;
}

.campaign-logos-list li:nth-child(1)::before {
  background-image: url(../img/content/partners/logo-1-color.png);
}

.campaign-logos-list li:nth-child(2)::before {
  background-image: url(../img/content/partners/logo-2-color.png);
}

.campaign-logos-list li:nth-child(3)::before {
  background-image: url(../img/content/partners/logo-3-color.png);
}

.campaign-logos-list li:nth-child(4)::before {
  background-image: url(../img/content/partners/logo-4-color.png);
}


.shop-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 84px;
  margin-bottom: 82px;
}

.shop-info-section {
  position: relative;
  width: 560px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.shop-info-section::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.shop-info h3 {
  font: 800 47px/1.02 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
  margin: 54px 0 42px;
}

.shop-info-section__desc {
  margin: 0 0 30px;
  letter-spacing: 0.1px;
}

.shop-info-section:nth-of-type(1) p:nth-of-type(1) {
  width: 475px;
  letter-spacing: 0.1px;
  margin: 0 0 30px;
}

.shop-info-section:nth-of-type(1) p:nth-of-type(2) {
  width: 465px;
  letter-spacing: -0.15px;
  margin: 0 0 67px;
}

.shop-info-section:nth-of-type(2) p:nth-of-type(1) {
  width: 515px;
  margin: 0;
  letter-spacing: 0.1px;
}

.shop-info ul {
  margin: 66px 0 0;
  padding: 0 0 0 35px;
}

.shop-info li {
  font: 800 16px/2.5 "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.1px;
  position: relative;
}

.shop-info li::before {
  position: absolute;
  left: -34px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  content: '';
  width: 4px;
  height: 4px;
  border: 2px solid #e5e5e5;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.shop-info__button--more {
  margin-top: 54px;
  padding: 0 20px;
}

.shop-info__button--contact-us {
  margin-top: 58px;
  padding: 0 40px;
}

.map-link {
  display: block;
  margin-top: 40px;
  cursor: pointer;
}

.page-title, .breadcrumbs-list {
  padding: 0 24px;
}

.page-title {
  font: 800 47px "Gilroy", "Helvetica", "Arial", sans-serif;
  letter-spacing: 0.47px;
}

.page-title {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 39px 0 23px;
  padding: 0 60px;
  font: 800 47px/48px "Gilroy", "Arial", sans-serif;
  text-align: left;
  letter-spacing: 0.6px;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 46px;
  padding: 0 60px;
  list-style-type: none;
}

.breadcrumbs-list li {
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
}

.breadcrumbs-list li:not(:last-child) {
  position: relative;
  padding-right: 38px;
}

.breadcrumbs-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 18px;
  width: 4px;
  height: 7px;
  background-image: url("../img/icons/nav-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumbs-list li {
  display: block;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-list li:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs-list li:active,
.breadcrumbs-list li:last-child:hover,
.breadcrumbs-list li:last-child:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.catalog-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.panel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.left-panel {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 348px;
  background-color: #efefef;
}

.right-panel {
  width: 852px;
  padding-left: 72px;
}

.catalog-header .left-panel {
  padding-top: 23px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.08)), to(rgba(0, 0, 0, 0.08)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
  background-image: linear-gradient(rgba(0, 0, 0, 0.08) 0%, rgba(0, 0, 0, 0.08) 100%);
}

.filter-header {
  width: 200px;
  margin: 0;
  margin-right: 68px;
  margin-bottom: 23px;
  font: 800 16px/24px "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.catalog-header .right-panel {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.08);
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  -webkit-align-items: baseline;
  align-items: baseline;
  width: 760px;
  margin-bottom: 23px;
  padding-top: 23px;
}

.sorting-title {
  margin: 0;
  margin-right: 51px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sorting-type-item {
  font: 400 14px/18px "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0;
}

.sorting-type-item:not(:last-child) {
  margin-right: 29px;
}

.sorting-direction-item:last-child {
  margin-left: 19px;
}

.sorting__button {
  display: block;
  opacity: 0.3;
}

.sorting__button:hover {
  opacity: 0.6;
}

.sorting__button:active {
  opacity: 1;
}

.current .sorting__button {
  opacity: 1;
}

.sorting-direction-list {
  margin-left: auto;
}

.sorting-direction-item .sorting__button {
  width: 11px;
  height: 10px;
}

.sorting-direction-item:first-child .sorting__button {
  border-color: black transparent;
  border-style: solid;
  border-width: 0px 5.5px 10px;
  height: 0px;
  width: 0px;
}

.sorting-direction-item:last-child .sorting__button {
  border-color: black transparent;
  border-style: solid;
  border-width: 10px 5.5px 0px 5.5px;
  height: 0px;
  width: 0px;
}

.filter-form {
  width: 200px;
  margin-right: 68px;
  padding-top: 69px;
}

.filter-group {
  margin: 0;
  padding: 0;
  border-style: none;
}

.filter-group-title {
  width: 100%;
  margin: 0;
  padding-top: 10px;
  font: 800 18px/24px "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
  border-top: 2px solid #000000;
}

.filter-price {
  margin-bottom: 33px;
}

.filter-price .filter-group-title {
  margin-bottom: 35px;
}

.filter-scale {
  position: relative;
  width: 100%;
  height: 2px;
  margin-bottom: 10px;
  background-color: #dbdbdb;
}

.filter-bar {
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.filter-toggle {
  position: absolute;
  top: -10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #ababab;
  border: 8px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #dddddd;
  box-shadow: 0 2px 1px 0 #dddddd;
  cursor: pointer;
}

.filter-toggle-min {
  left: -6px;
}

.filter-toggle-max {
  left: 107px;
}

.filter-toggle:focus {
  outline: 0;
}

.filter-toggle:active {
  outline: 0;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.filter-price-control {
  font: 300 14px/24px "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  letter-spacing: 0;
}

.filter-price-label {
  display: inline-block;
  vertical-align: top;
}

.filter-price-label:first-child {
  margin-right: 17px;
}

.filter-price-input {
  width: 50px;
  font-weight: inherit;
  color: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border-style: none;
}

.filter-color {
  margin-bottom: 31px;
}

.filter-color .filter-group-title {
  margin-bottom: 18px;
}

.filter-bluetooth {
  margin-bottom: 31px;
}

.filter-bluetooth .filter-group-title {
  margin-bottom: 18px;
}

.filter-option-list {
  margin: 0;
  padding: 0;
  padding-left: 38px;
  list-style-type: none;
}


.filter-option-title {
  position: relative;
  font: 300 14px/40px "Open Sans", "Verdana", sans-serif;
  letter-spacing: 0.14px;
}

.filter-option-title::before {
  content: "";
  position: absolute;
  left: -40px;
  background-repeat: no-repeat;
  background-position: left;
}

.filter-checkbox-field:checked + .filter-option-title:active::before,
.filter-color .filter-option-title::before {
  top: -2px;
  width: 27px;
  height: 23px;
  background-image: url("../img/icons/checkbox-off.svg");
}

.filter-checkbox-field:not(:checked) + .filter-option-title:active::before,
.filter-checkbox-field:checked + .filter-option-title::before {
  background-image: url("../img/icons/checkbox-on.svg");
}

.filter-radio-field:checked + .filter-option-title:active::before,
.filter-bluetooth .filter-option-title::before {
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("../img/icons/radio-off.svg");
}

.filter-radio-field:not(:checked) + .filter-option-title:active::before,
.filter-radio-field:checked + .filter-option-title::before {
  background-image: url("../img/icons/radio-on.svg");
}

.filter-option-title:hover::before {
  opacity: 0.6;
}

.filter-option-title:active::before {
  opacity: 1;
}

.filter-field:disabled + .filter-option-title {
  color: #a6a6a6;
}

.filter-field:disabled + .filter-option-title::before {
  opacity: 0.25;
}

.filter-btn {
  z-index: 0;
  width: 100%;
}

.catalog-section {
  width: 760px;
  margin-right: 20px;
  padding-top: 69px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 46px;
}
.catalog-item:nth-last-child(1),
.catalog-item:nth-last-child(2) {
  margin-bottom: 35px;
}

.catalog-item:nth-last-child(2n+1) {
  margin-left: 40px;
}

.catalog-image {
  position: relative;
  display: block;
  width: 360px;
  height: 380px;
  margin-bottom: 32px;
}

.new-product::before {
  content: "new";
  position: absolute;
  top: 29px;
  right: 27px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 15px 14px;
  font: 800 14px/24px "Gilroy", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  letter-spacing: 0.7px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.catalog-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 360px;
  height: 380px;
  padding-top: 172px;
  background-color: rgba(238, 238, 238, 0.7);
  visibility: hidden;
}

.catalog-overlay:hover,
.catalog-image:hover ~ .catalog-overlay {
  visibility: visible;
}

.catalog-button {
  z-index: 0;

width: 200px;
  margin-bottom: 6px;
}

.catalog-compare-btn {
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  font-family: "Open Sans", "Verdana", sans-serif;
  text-align: center;
  color: #000000;
  letter-spacing: 0.13px;
  opacity: 0.5;
}

.catalog-compare-btn:hover {
  opacity: 1;
}

.catalog-compare-btn:active {
  opacity: 0.2;
}

.catalog-desc {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.catalog-title {
  margin: 0;
  font: 800 16px/24px "Gilroy", "Arial", sans-serif;
  letter-spacing: 0.18px;
}

.catalog-item:nth-child(1) .catalog-title {
  width: 280px;
  letter-spacing: 0.25px;
}

.catalog-item:nth-child(2) .catalog-title {
  width: 180px;
  letter-spacing: 0.3px;
}

.catalog-item:nth-child(3) .catalog-title {
  width: 280px;
  letter-spacing: 0.18px;
}

.catalog-item:nth-child(4) .catalog-title {
  width: 240px;
  letter-spacing: 0.25px;
}

.catalog-price {
  font: 300 16px/24px "Gilroy", "Arial", sans-serif;
  text-align: right;
  color: #464646;
  letter-spacing: 0.45px;
}

.footer {
  background-color: #464646;
  padding: 65px 0 56px;
  color: #ffffff;
}

.footer-row:last-child::after {
  content: "";
  position: absolute;
  top: 12px;
  width: 80px;
  height: 8px;
  background-color: #f0c62a;
}

.footer-base-menu {
  margin: 0;
}

.footer-base-menu li {
  margin-left: 41px;
}

.footer-base-menu-link {
  color: rgba(255, 255, 255, 0.7);
}

.footer-base-menu-link:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-base-menu-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: relative;
  max-width: 1160px;
  margin: 0 auto;
}

.footer-row:nth-child(2) {
  margin: 22px auto 64px;
}

.official-address {
  font-style: normal;
}

.footer-main-menu-list {
  margin: 0;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.footer-main-menu-list li {
  margin: 0 17px;
}

.social-networks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.social-networks li {
  margin: 0 11px;
}

.creator-logo {
  position: absolute;
  right: 0;
}

.pagination {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 760px;
  margin-right: 20px;
  margin-bottom: 73px;
  font: 800 16px/24px "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-direction-btn {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 24px;
  padding-right: 30px;
  padding-left: 31px;
  text-align: center;
}

.pagination-direction-btn:first-child {
  width: 126px;
  margin-right: 211px;
  margin-left: 0;
}

.pagination-direction-btn:last-child {
  width: 137px;
  margin-right: 0;
  margin-left: auto;
  letter-spacing: 3.8px;
}

.pagination-direction-btn:hover,
.pagination-direction-btn:active {
  background-color: rgba(0, 0, 0, 0.08);
}

.pagination-direction-btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 0 21px;
  padding: 25px 0 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 28px;
}

.pagination-number-btn {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number-btn:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-number-btn:active {
  color: rgba(0, 0, 0, 1);
}

.current .pagination-number-btn {
  color: rgba(0, 0, 0, 1);
}

.modal {
  position: fixed;
  display: none;
  left: 50%;
  z-index: 2;
  margin-left: -480px;
  width: 960px;
  opacity: 0;
  -webkit-box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 20px 10px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  opacity: 1;
  top: 120px;
}

.modal-error {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.modal-close-button {
  position: absolute;
  top: 22px;
  right: 22px;
  z-index: 3;
  width: 55px;
  height: 55px;
  background-color: transparent;
  background-image: url("../img/icons/modal-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  outline: 0;
  cursor: pointer;
  opacity: 0.5;
}

.modal-close-button:hover,
.modal-close-button:focus {
  opacity: 1;
}

.modal-close-button:active {
  opacity: 0.3;
}

.modal-map {
  height: 559px;
  background-color: #e5e3df;
}

.modal-map-source {
  position: relative;
  z-index: 2;
  border-style: none;
}

.modal-map-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 960px;
  height: 559px;
}

.modal-feedback {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 87px;
  padding-right: 100px;
  padding-left: 100px;
  background-color: #ffffff;
}

.feedback-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.feedback-form ul  {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.feedback-form li {
  margin: 0 0 27px;
  padding-top: 6px;
  width: 360px;
}

.feedback-form textarea {
  width: 760px;
  margin-bottom: 41px;
  height: 156px;
  padding-top: 12px;
  vertical-align: top;
  resize: none;
}

.feedback-form label {
  display: inline-block;
  margin-bottom: 7px;
  font: 800 18px/24px "Gilroy", "Arial", sans-serif;
  vertical-align: top;
}

.feedback-form label[for="fullname"] {
  margin-left: 1px;
  letter-spacing: 0.05px;
}

.feedback-form label[for="email"] {
  margin-left: 0;
  letter-spacing: 0;
}

.feedback-form label[for="message"] {
  margin-left: 1px;
  letter-spacing: 0.2px;
}

.feedback-field {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  letter-spacing: 0;
  background-color: rgba(229, 229, 229, 0.5);
  border: 3px solid transparent;
  outline: 0;
}

.feedback-field::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.feedback-field:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.feedback-field:focus {
  background-color: transparent;
  border-color: rgba(240, 197, 46, 0.5);
}

.feedback-field:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback-fullname,
.feedback-email {
  width: 360px;
  padding-top: 12px;
  padding-bottom: 14px;
}

.feedback-btn {
  width: 200px;
  margin-bottom: 78px;
  padding-left: 12px;
  letter-spacing: 3.8px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translatey(-2000px);
    transform: translatey(-2000px);
  }
  70% {
    -webkit-transform: translatey(50px);
    transform: translatey(50px);
  }
  85% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  95% {
    -webkit-transform: translatey(10px);
    transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translatey(-2000px);
    transform: translatey(-2000px);
  }
  70% {
    -webkit-transform: translatey(50px);
    transform: translatey(50px);
  }
  85% {
    -webkit-transform: translatey(-20px);
    transform: translatey(-20px);
  }
  95% {
    -webkit-transform: translatey(10px);
    transform: translatey(10px);
  }
  100% {
    -webkit-transform: translatey(0);
    transform: translatey(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translatex(5px);
    transform: translatex(5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translatex(-5px);
    transform: translatex(-5px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translatex(0);
    transform: translatex(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translatex(5px);
    transform: translatex(5px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translatex(-5px);
    transform: translatex(-5px);
  }
}
